[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["python3 -m pip install -r requirements.txt"]

[start]
cmd = "python3 -m gunicorn --bind 0.0.0.0:$PORT --workers 2 --timeout 300 app:app"
